*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}

body{

background:#0F172A;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.chat-container{

width:900px;

height:90vh;

background:#111827;

border-radius:15px;

display:flex;

flex-direction:column;

overflow:hidden;

}

header{

padding:20px;

background:#1E293B;

color:white;

}

.messages{

flex:1;

padding:20px;

overflow:auto;

}

.message{

    max-width:75%;

    width:fit-content;

    padding:18px;

    border-radius:16px;

    margin-bottom:20px;

    white-space:pre-wrap;

    word-break:break-word;

    overflow-wrap:anywhere;

    line-height:1.7;

}

.bot{

    background:#374151;

    color:white;

}

.user{

    background:#2563EB;

    color:white;

    margin-left:auto;

}

footer{

display:flex;

padding:20px;

gap:10px;

background:#1E293B;

}

input{

flex:1;

padding:15px;

border:none;

border-radius:10px;

}

button{

padding:15px 30px;

background:#2563EB;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

}

.sources{

    margin-top:15px;

    padding-top:10px;

    border-top:1px solid rgba(255,255,255,.15);

}

.sources a{

    display:block;

    margin-top:10px;

    color:#66aaff;

    text-decoration:none;

    word-break: break-all;

    overflow-wrap:anywhere;

}

.sources a:hover{

    color:white;

    text-decoration:underline;

}

.message ul,
.message ol{

    padding-left:25px;

    margin-top:10px;

    margin-bottom:10px;

}

.message li{

    margin-bottom:8px;

}