<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CopaIA</title>

    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

    <main class="container">

        <section class="hero">

            <h1>⚽ CopaIA</h1>

            <p>
                Seu assistente inteligente da Copa do Mundo 2026.
            </p>

            <div class="buttons">

                <a href="chat.html" class="btn-primary">
                    Começar
                </a>

                <button class="btn-secondary" id="sobre">
                    Sobre
                </button>

            </div>

        </section>

    </main>

    <script src="../static/js/script.js"></script>

</body>

</html>